.right {
    float: right;
}

.margin-10 {
    margin: 10px;
}

padding-10 {
    padding: 10px;
}

.transparent {
    height: 5000px;
    width: 1750px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.2;
    margin: 50px;
}